
<ion-content>

		<img src="assets/image/logo.png" alt="Logo de la aplicación">
		
	<form>
		
		<div >
			<ion-item class="gradient-item">
				<ion-input   class="dark-text" type="text" placeholder="Usuario" name="usuario" [(ngModel)]="username" required></ion-input>
			  </ion-item>
			  <ion-item class="gradient-item">
				<ion-input class="dark-text" type="password" placeholder="Contraseña" name="Contraseña" [(ngModel)]="password" required></ion-input>
			  </ion-item>
		</div>

		<ion-button type="submit" expand="block" (click)="login()">Iniciar</ion-button>
	</form>
</ion-content>

